[Unit]
Description=Kuryr: Docker Plugin for Neutron
After=syslog.target network.target
Before=docker.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/kuryr-service --config-file /etc/kuryr/kuryr.conf
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
